/* --------------------------------------------

    colors.css 

    All Colors which can be used in my 
    portfolio

---------------------------------------------- */


:root {


    /* ------------------------------------------------- */
    /* Default Colors 
    /* ------------------------------------------------- */

    --black: black;
    --white: white;

    --red: red;
    --green: green;
    --yellow: yellow;
    --orange: orange;
    --violet: violet;
    --pink: pink;
    --brown: brown;


    /* ------------------------------------------------- */
    /* Light Colors 
    /* ------------------------------------------------- */


        /* ------------------------------ */
        /* Light White 
        /* ------------------------------ */
        --light-white-1: #e9e9e9;
        --light-white-2: rgb(209, 208, 208);

        /* ------------------------------ */
        /* Light Grey 
        /* ------------------------------ */
        --light-grey-1: #F4F6F7;
        --light-grey-2: #F0F3F4;
        --light-grey-3: #ECF0F1;

        /* ------------------------------ */
        /* Light Brown 
        /* ------------------------------ */
        --light-brown-1: #d1c0a5;
        --light-brown-2:  #d1b78e;
        --light-brown-3: #d9bf98;

        /* ------------------------------ */
        /* Light Red 
        /* ------------------------------ */
        --light-red-1: #F5B7B1;
        --light-red-2: #F1948A;
        --light-red-3: #CD6155;

        /* ------------------------------ */
        /* Light Green 
        /* ------------------------------ */


    /* ------------------------------------------------- */
    /* Medium Colors 
    /* ------------------------------------------------- */

    
        /* ------------------------------ */
        /* Medium Grey 
        /* ------------------------------ */
        --medium-grey-1: #D0D3D4;
        --medium-grey-2: #B3B6B7;
        --medium-grey-3: #979A9A;

        /* ------------------------------ */
        /* Medium Brown 
        /* ------------------------------ */

        /* ------------------------------ */
        /* Medium Red 
        /* ------------------------------ */

        --medium-red-3: rgb(227, 58, 58);

        /* ------------------------------ */
        /* Medium Green 
        /* ------------------------------ */



    /* ------------------------------------------------- */
    /* Dark Colors 
    /* ------------------------------------------------- */


        /* ------------------------------ */
        /* Dark Grey 
        /* ------------------------------ */
        --dark-grey-1: #7B7D7D ;
        --dark-grey-2: #626567;
        --dark-grey-3: #424949;
        --dark-grey-4: #424242;
        --dark-grey-5: #333333;

        /* ------------------------------ */
        /* Dark Black 
        /* ------------------------------- */
        --dark-black-1: #212121;




}





/* ------------------------------------------------- */
/* Background Colors  
/* ------------------------------------------------- */

.background-color-style-docs-1 {

    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

}

